<% layout('layouts/boilerplate') %> 
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="loc">Location</label>
                    <input class="form-control" type="text" id="loc" name="campground[location]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input name="campground[price]" type="text" class="form-control" placeholder="0.00" id="price" required>
                        <div class="valid-feedback">Looks Good!</div>
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="desc">Description</label>
                    <textarea class="form-control" type="text" id="desc" name="campground[description]" required></textarea>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose images...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                    </div>
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>

    
